@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a stylist</h4>
@using (Html.BeginForm())
{
  @Html.Label("First Name")
  @Html.TextAreaFor(model => model.FirstName)
  @Html.Label("Last Name")
  @Html.TextAreaFor(model => model.LastName)
  @Html.Label("Years of Experience")
  @Html.TextAreaFor(model => model.YearsOfExperience)
  @Html.Label("Rank")
  @Html.TextAreaFor(model => model.Rank)
  @Html.Label("Specialty")
  @Html.TextAreaFor(model => model.Specialty)
  <input type="submit" value="Add a stylist" />
}

<p>@Html.ActionLink("Show all stylists", "Index")</p>