@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit information</h2>

<h4>Edit this stylist's information: @Html.DisplayFor(model => model.FirstName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.Label("First Name")
  @Html.EditorFor(model => model.FirstName)
  @Html.Label("Last Name")
  @Html.EditorFor(model => model.LastName)
  @Html.Label("Years of Experience")
  @Html.EditorFor(model => model.YearsOfExperience)
  @Html.Label("Rank")
  @Html.EditorFor(model => model.Rank)
  @Html.Label("Specialty")
  @Html.EditorFor(model => model.Specialty)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Go back and view stylists", "Index")</p>